# Python
__pycache__/
*.py[cod]
.Python
env/
.venv/

# Node
node_modules/
frontend/.next/
frontend/out/
frontend/.env.local

# Environment files
.env
.env.local
.env.development
.env.production
.env.test
!*.env.example
!**/.env.example

# IDEs
.idea/
.vscode/

# Logs
*.log

# Terraform
.terraform/
.terraform.lock.hcl
terraform.tfvars
